<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawn.finalhomework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lijian"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lijian"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".FrameActivity"></activity>
        <activity android:name=".PlanActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>>
        <activity android:name=".BjActivity" />
        <activity android:name=".NewInActivity" />
        <activity android:name=".RjActivity"></activity>
    </application>

</manifest>